* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #07185e; */
}

.contents {
  margin: 0.5rem 0;
  border: 1px solid black;
  width: 40rem;
  height: 30rem;
  background-color: white;
}

.allQuestions {
  width: 40rem;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnArea {
  width: 40rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 40rem;
  height: 3rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
