.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 3rem;
}

.bar {
  position: relative;
  border: 1px solid black;
  width: 24rem;
  height: 0.8rem;
  border-radius: 10px;
}

.fill {
  position: absolute;
  background-color: green;
  height: 101%;
  border-radius: 10px;
}

.text {
  position: relative;
  margin: 0;
}
