.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  caret-color: black;
}

.form {
  margin: 0.5rem 0;
  border: 1px solid black;
  width: 24rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  width: 20rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  text-align: center;
  outline: none;
}

.input::placeholder {
  text-align: center;
}

.btn {
  width: 20.25rem;
  height: 3rem;
  cursor: pointer;
}
